body, html {
  height: 100%;
  width: 100%;
}

body {
  height:100%;
  background-image:url("http://i.imgur.com/JFT2BcI.png");
  background-size: cover !important;
  background-repeat:repeat-y;
  height:100%;
  display: border-box;
  margin: 0;
}

/*Sourcing font file from directory*/
@font-face {
    font-family: "terminator";
    src: url('terminator real nfi.ttf');
}

header {
  padding: 30px;
}

h1 {
  padding-top: 60px;
  padding-bottom:20px;
  text-align: center;
  font-family: "terminator";
  color:rgba(255,255,255, 1);
  text-shadow: 2px 2px #000000;
  font-size:50px;
}

h4 {
  font-family: "terminator";
  font-size: 12px;
  padding:20px;
  text-align: left;
  line-height:15px;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.4);
  color: rgba(0,0,0,.7);
}

h5 {
  text-align: right;
  font-size:18px;
}


.container {
  margin: 40px;
}

.instructions {
  width: 100%;
  height:15%;
  background-color: rgba(255, 255, 255, 0.4);
  text-shadow:
  border-radius:8px;
  border: 1px solid rgba(0,0,0,.6);
  margin:10px auto;
  border-radius:8px;
}

.yellow-pages {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height:100px;
  width:100px;
}

.top-buttons {
  height: 80px;
  line-height: 80px;
  width:270px;
  /*text-align: center;
  vertical-align: middle;*/

}

.bottom-buttons {
  line-height: 80px;
  width:270px;
  height:80px;
  /*text-align: center;
  vertical-align: middle;*/
}

.yellow-pages {
  margin-left: 50px;
  width: 140px;
  height:100px;
  padding: 50px;
}

.ammo-count {
  font-family:"terminator";
  text-shadow: 1px 1px #ffffff;
  color:rgba(0,0,0, .75);
  padding:100px 80px 200px 0;
}

.clicked {
  box-shadow: 0 2px 2px #000000;
  text-decoration: line-through;
  /*top: 3px;*/
}
/*Class for clicking of a Button*/

.button-text {
  font-family: "terminator";
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px #000000;
  text-align: center;
  vertical-align:middle;
  /*line-height: 30px; Add in for @media*/
}

.row-1 {
  display:flex;
  flex:1;
  align-items: center;
  margin-bottom:80px;
  width: 100%;
  height:100%;
  justify-content: space-around;

}

.row-2 {
  display:flex;
  flex:1;
  width: 100%;
  height:100%;
  justify-content: space-around;
  align-items: center;
}



.image-connor {
  display: none;
  height:150px;
  width:150px;
  background-image: url("http://i.imgur.com/GnK1x1i.jpg");
  background-size: cover;
  border: 1px solid #ffffff;
}

.image-reese {
  display:none;
  height:150px;
  width:150px;
  margin: 20px auto;
  background-image: url("http://i.imgur.com/YFEUWax.jpg");
  background-size: cover;
  border: 1px solid #ffffff
}

#enemies {

  text-align: center
}

#top-left-button {
  border: 1px solid #ffffff;
  background-color:rgba(0,0,0,.5);
  border-radius:8px;
}

#top-middle-button{
  border: 1px solid white;
  /*height:45px;
  width:270px;*/
  background-color:rgba(0,0,0,.5);
  border-radius:8px;
}

#top-right-button{
  border: 1px solid white;
  /*height:45px;
  width:270px;*/
  background-color:rgba(0,0,0,.5);
  border-radius:8px;
}

#bottom-left-button {
  border: 1px solid white;
  /*height:45px;
  width:270px;*/
  background-color:rgba(0,0,0,.5);
  border-radius:8px;
}

#bottom-middle-button{
  border: 1px solid white;
  /*height:45px;
  width:270px;*/
  background-color:rgba(0,0,0,.5);
  border-radius:8px;
}

#bottom-right-button{
  border: 1px solid white;
  /*height:45px;
  width:270px;*/
  background-color:rgba(0,0,0,.5);
  border-radius:8px;
}
